html {
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  background-color: #282c34;
  min-height: 5vh;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-link {
  font-size: 12px;
  color: #61dafb;
  text-decoration: none;
  padding: 10px;
  margin: 0 5px 0;
  border-radius: 5px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.App-link:hover {
  background-color: #61dafb;
  color: #282c34;
}